.contenaire {
  width: 1700px;
  height: 1080px;

  background: #302B2B;
 }
header {
  position: absolute;
width: 1700px;
height: 100px;
left: 0px;
top: 0px;

background: #121010;
}

 img.Logo {
   position: absolute;
   left: 150px;
   top: 20px;
 }
 p {
   position: absolute;
   left: 230px;
   top: 20px;
   color: white;
 }
 .text4 {
   position: absolute;
   left: 1200px;
   color: white;
   top: 20px;
 }
 .text3 {
   position: absolute;
   left: 1300px;
   color: white;
   top: 20px
 }
 .texto1 {
  position: absolute;
  width: 640px;
  height: 84px;
  left: 134px;
  top: 276px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;

  color: #FFFBFB;

 }
 .texto2 {
  position: absolute;
  width: 797px;
  height: 95px;
  left: 134px;
  top: 721px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFBFB;

 }
 img.Logo3 {
  position: absolute;
width: 217px;
height: 293px;
left: 1023px;
top: 251px;

background: url(Cover03.jpg);
 }
 img.Logo2 {
  position: absolute;
  width: 217px;
  height: 293px;
  left: 1023px;
  top: 544.84px;

  background: url(Cover02.jpg);
 }
img.Logo1 {
  position: absolute;
width: 217px;
height: 293px;
left: 1240px;
top: 545px;


background: url(Cover01.jpg);
}
img.Logo4 {
  position: absolute;
width: 217px;
height: 293px;
left: 1240px;
top: 251px;

background: url(Cover04.jpg);
}
img.Logo5 {
  position: absolute;
width: 155px;
height: 218px;
left: 221px;
top: 432px;

background: #121111;
}
h6 {
  position: absolute;
width: 94px;
height: 31px;
left: 262px;
top: 564px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFBFB;

}
img.Logo6 {
  position: absolute;
width: 155px;
height: 218px;
left: 434px;
top: 432px;

background: #0E0E0E;
}
h4 {
  position: absolute;
width: 92px;
height: 31px;
left: 475px;
top: 584px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFAFA;

}
img.Logo7 {
  position: absolute;
width: 155px;
height: 218px;
left: 670px;
top: 437px;

background: #100F0F;
}
h5 {
  position: absolute;
width: 91px;
height: 33px;
left: 714px;
top: 584px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFF9F9;

}
 footer {
 position: absolute;
width: 1700px;
height: 77px;
left: 0px;
top: 1003px;

background: #141313;
}
img.Logo8 {
  position: absolute;
width: 35px;
height: 28px;
left: 999px;
top:25px
}
img.Logo9 {
  position: absolute;
width: 35px;
height: 28px;
left: 1299px;
top:25px
}
.twi {
  position: absolute;
width: 67px;
height: 37px;
left: 1060px;
top: 25px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFF3F3;

}
.fb {
  position: absolute;
  width: 67px;
  height: 37px;
  left: 1369px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFF3F3;

}
.index {
  position: absolute;
  width: 84px;
  height: 28px;
  left: 325px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFAFA;

}
span {
  position: absolute;
width: 96px;
height: 16px;
left: 109px;
top:25px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFCFC;

 }

